name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:

 Formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Formatting
        uses: github/super-linter@v4.8.5
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_SNAKEMAKE_SNAKEFMT: true
          VALIDATE_PYTHON_BLACK: true
          VALIDATE_MARKDOWN: true

  Linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Lint workflow
        uses: snakemake/snakemake-github-action@v1.24.0
        with:
          directory: .
          snakefile: workflow/Snakefile
          args: "--lint"

  # Testing:
  #   runs-on: ubuntu-latest
  #   needs: Linting
  #   steps:
  #   - uses: actions/checkout@v1
  #   - name: Checkout submodules
  #     uses: textbook/git-checkout-submodule-action@2.0.0
  #   - name: Test workflow (local test data)
  #     uses: snakemake/snakemake-github-action@v1.5.3
  #     with:
  #       directory: .test
  #       snakefile: workflow/Snakefile
  #       args: "--use-conda --show-failed-logs -j 10 --conda-cleanup-pkgs"
  #   - name: Test report
  #     uses: snakemake/snakemake-github-action@v1.5.3
  #     with:
  #       directory: .test
  #       snakefile: workflow/Snakefile
  #       args: "--report report.zip"
